# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/

# CocoaPods (if not committing Pods)
Pods/

# Fastlane (optional)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archives
*.xcarchive